extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Chelsy

        //- Feel free to personalize the title below
        p.lead.text-light
          | Web Developer/ Android Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I'm a Web Developer/ Android Developer with experience building OOP Web Applications, websites and Mobile applications. I specialize in Mobile Applications and have worked with backend technologies such as SQL Server, MySQL, MongoDB, Room Persistence Library, SQLite, etc.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript
          li Express
          li React.js
          li PHP/Laravel 9
          li Android Development (Java)
          li Java/ Spring boot
          li C#
          li HTML5/CSS3
          li Bootstrap/ Balma
          li MongoDB
          li MySQL
          li Room Architecture
          li Git/GitHub
        h6 Contact Info

        //- Add your own contact info
        ul
          li 236-332-2326
          li chelsydhir@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/chelsy-chelsy-b6a03720a/') LinkedIn
        a.button.expanded(href='https://github.com/ChelsyDhir') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  